<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.css">
    <title>Log in</title>
</head>
<body>
    <h1>Welcome to Task Nest!</h1>
    <form action="/dashboard" method="post">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required>
        
        <button type="submit">Shorten URL</button>
        </button>
        <p id="shortendUrl"></p>

</body>
</html>