*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 30vw;
    flex-direction: column;
    gap: 1rem;
    border : 1px solid black;
    border-radius: 1rem;
}

button {
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

form{
    width: 60%;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}